# A file to designate code owners for this repository

## This file is use to automatically assign code reviewers to pull requests, depending on their contribution level and the files they have modified. For more information, see <https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners>

### The owner, lead developer, and primary maintainer of Monster Spawned Studios

* @TheModdersDen
